.menu-icon-codigo div.wp-menu-image:before,
.menu-icon-post div.wp-menu-image:before {
  color: rgb(99, 83, 247) !important;
  font-weight: bolder;
}
.menu-icon-codigo:hover div.wp-menu-image:before,
.menu-icon-post:hover div.wp-menu-image:before {
  color: rgb(244, 29, 252) !important;
  font-weight: bolder;
  font-size: 1.5em;
}
