@import "parciales/variables";

body {
  // font-weight: 100;
  //color: red;
  background: $colorbase;
  border: 4px grey solid;
}

.menu-icon-codigo .wp-menu-image:before {
  color: red;
}

.menu-icon-codigo:hover .wp-menu-image:before {
  color: green;
}
