@import "parciales/variables";

body {
  // font-weight: 100;
  //color: red;
  background: $colorbase;
  border: 4px grey solid;
}
.personacine {
  border: 3px crimson solid;
}

.cod_archivo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cod_elemento_archivo {
  padding: 0.8em;
  border: 1px grey solid;
}

/* */
.site-inner {
  max-width: 1440px;
  background: rgb(36, 36, 136);
}
.content {
  width: 80%;
  background: rgb(97, 97, 245);
}

.sidebar {
  width: 25%;
  background: rgb(65, 65, 148);
}

/* */
